<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title}}</title>
<meta name="description" content="Vivamusica! festival 2014">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

<meta http-equiv="cleartype" content="on">
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- for Apple -->
<link rel="shortcut icon" href="{{imageAssets "/favicon.ico"}}">
<link rel="apple-touch-icon-precomposed" href="{{imageAssets "/touch-icon-iphone.png"}}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{imageAssets "/touch-icon-ipad.png"}}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{imageAssets "/small.png"}}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{imageAssets "/medium.png"}}" />

<!-- for MS -->
<meta name="application-name" content="Vivamusica! festival"/>
<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-square70x70logo" content="{{imageAssets "/small.png"}}" />
<meta name="msapplication-square150x150logo" content="{{imageAssets "/medium.png"}}" />
<meta name="msapplication-square310x310logo" content="{{imageAssets "/large.png"}}" />

<!-- for Facebook -->
<meta property="og:title" content="Vivamusica! festival 2014" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{imageAssets "/social/fb.png"}}" />
<meta property="og:url" content="http://www.vivamusica.sk" />
<meta property="og:description" content="Classic goes modern." />

<link rel="stylesheet" href="{{cssAssets "/main.css"}}">
