<div class="programlist">
    <ul class="programlist__list">
        <li class="programlist__item">
            <div class="programlist__info">
                <h2>
                    <p class="programlist__title">program</p>
                    <p class="programlist__title push--left">10. ročníka</p>
                </h2>
                <p class="programlist__text">21. - 28. jún 2014<br />Bratislava</p>
            </div>
        </li>
        {{#foreach program}}
        <li class="programlist__item">
            <a href="/program/{{path}}" class="programlist__link">
                <div class="programlist__thumb">
                    <img class="box__m" src="{{img}}" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>{{date}}<br />{{title1}} {{title2}}</p></div>
            </a>
        </li>
        {{/foreach}}
    </ul>
</div>
