<div class="top">
    {{>sidebar}}

    <div class="banner">
        <img src="/static/images/team/all.jpg" width="100%" />
    </div>
</div>
<div class="main__container">
    {{>sidebarpartners}}

    <div class="thumbnaillist">
        <ul class="thumbnaillist__list">
            {{#foreach halloffame}}
            <li class="thumbnaillist__item">
                <a href="/halloffame/{{path}}" class="thumbnaillist__link">
                    <img src="{{img}}" width="190" height="190" alt="" />
                    <p class="thumbnaillist__date">{{title1}} <span>{{title2}}</span></p>
                    <p class="thumbnaillist__title">{{title}}</p>
                </a>
            </li>
            {{/foreach}}
        </ul>
    </div>
</div>
