<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="thumbnaillist">
        <ul class="thumbnaillist__list">
            {{#foreach halloffame}}
            <li class="thumbnaillist__item">
                <a href="/halloffame/{{path}}" class="thumbnaillist__link">
                    <img src="{{img}}" width="190" alt="" />
                    <p class="thumbnaillist__date">{{title1}} <span>{{title2}}</span></p>
                    <p class="thumbnaillist__title">{{title}}</p>
                </a>
            </li>
            {{/foreach}}
        </ul>
    </div>
</div>
