{{>sidebar}}

<div class="main__container">
    {{>kontaktsubmenu}}
    <div class="article--small">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">{{title1}}</span>
                    <span class="article__title--beta">{{title2}}</span>
                </h1>
                <p class="article__introtext">{{title}}</p>
            </div><!--
         --><div class="article__item">
                <div class="thumbnail">
                    <img class="article__img" src="{{img}}" width="100%" alt="" />
                </div>
            </div>
        </header>
        <div class="article__content">
            <p class="article__text">{{text}}</p>
        </div>
    </div>
</div>
