<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="banner">
        <img src="/static/images/team/all.jpg" width="100%" />
    </div>

    <div class="thumbnaillist">
        <ul class="thumbnaillist__list">
            {{#foreach kontakt}}
            <li class="thumbnaillist__item">
                {{#if email}}
                <a href="mailto:{{email}}" class="thumbnaillist__link">
                    <img src="{{img}}" width="190" height="190" alt="" />
                    <p class="thumbnaillist__date">{{title1}} <span>{{title2}}</span></p>
                    <p class="thumbnaillist__title">{{title}} <span class="thumbnaillist__email">{{email}}</span></p>
                </a>
                {{else}}
                <div class="thumbnaillist__box">
                    <img src="{{img}}" width="190" height="190" alt="" />
                    <p class="thumbnaillist__date">{{title1}} <span>{{title2}}</span></p>
                    <p class="thumbnaillist__title">{{title}}</p>
                </div>
                {{/if}}
            </li>
            {{/foreach}}
        </ul>
    </div>
</div>
