<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="banner carousel">
        <img src="/static/images/program/banner/{{img}}" width="100%" />
        <a class="arrow--left" href="{{prev}}">{{prevText}}</a>
        <a class="arrow--right" href="{{next}}">{{nextText}}</a>
    </div>

    <article class="article">
        <header class="article__header">
            <section class="article__intro">
                <span class="article__date">{{datenum}}.</span>
                <span class="article__month">{{datemonth}}</span>
                <span class="article__place">{{place}}<br />{{{datetime}}}</span>
            </section>
            <section class="article__intro">
                <p class="article__introtext box">{{intro}}</p>
            </section>
        </header>
        <p class="article__text">
            {{{text}}}
        </p>
        {{#if tickets}}<a class="btn--contrast" href="{{tickets}}">Kúpiť vstupenky</a>{{/if}}
    </article>
</div>
